:root {
  --cc-zink-yellow: #FEDB00;
  --cc-rich-black: #000000;
  --cc-light-blue: #00AFD7;
  --cc-light-green: #00C7B1;
  --cc-heather-violet: #E0457B;

  --cc-pure-orange: #FF6642;
  --cc-tele-magneta: #FF516D;
  --cc-powder-pink: #F986B1;

  --cc-luminous-green: #35C46F;
  --cc-sulfur-yellow: #BFE400;
  --cc-sprout-green: #9EE09F;
  --cc-sky-blue: #8CCAE0;

  --cc-white-white: #FFFFFF;

}

body {
  background-color: var(--cc-yellow);
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #FEDB00; 
  height: 10vh;
  min-height: 50px;
  color: var(--cc-rich-black);
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #FEDB00;
}

main {
  background-color: var(--cc-sky-blue);
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #FEDB00;
}

main::-webkit-scrollbar-thumb {
  background: #FEDB00;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: var(--cc-rich-black);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  padding: 1px 1px;
  font-size: 2.9rem;
  text-shadow: 2px 2px #000000;
  background-color: #FEDB00;
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.9rem;
  background-color: #FEDB00;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

button {
  background-color: var(--cc-yellow-black);
  border: none;
  color: var(--cc-sky-blue);
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}

.sign-in {
  color: var(--cc-rich-black);
  background: var(--cc-sulfur-yellow);
  max-width: 400px;
  padding: 17px 17px;
  margin: 0 auto;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0.5px 0.5px 0px 1px rgba(0, 0, 0, 0.3);
}

.sign-out {
  color: var(--cc-rich-black);
  background: var(--cc-sprout-green);
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 0px 1px rgba(0, 0, 0, 0.3);
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: var(--cc-rich-black);
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: var(--cc-rich-black);
  background: #FEDB00;
  align-self: flex-end;
}
.received p {
  background: var(--cc-light-blue);
  color: var(--cc-rich-black);
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
